:root {
  --roxoEscuro: #473a57;
  --roxo: #7750fc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #7750fc;
  background-color: var(--roxo);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
}

@font-face {
  font-family: 'Gotham Rounded Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/GothamRounded-Bold.woff');
}

@font-face {
  font-family: 'Gotham Rounded Book';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/GothamRounded-Book.woff');
}
